body{
  background-color: bisque;
}
* {
  box-sizing: border-box;
}
ul {
  padding: 0;
  width: 60%;
  margin: auto;
}
ul li {
  display: flex;
  justify-content: space-between; 
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}
#remove-all{
  background-color: red;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 13px 26px;
  position: absolute;
  left: 45%;
  margin-top: 5%;
}
.header {
  background-color: #f44336;
  width: 60%;
  margin: 5% auto auto auto;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
input{
  width: 360px;
  height: 46px;
  border: 1px solid black;
  font-size: 25px;
  vertical-align: middle;
}
#addBtn {
  height: 50px;
  width: 70px;
  border: 1px solid black;
  font-size: 30px;
  vertical-align: middle;
}
